.main__container {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
}

.start__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input {
    margin: 20px;
}


.game__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 50px;
}

.fields__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields__cell {
    width: 20px;
    height: 20px;
    margin: 1px;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    transition: background .5s linear;
}

.fields__cell:hover {
    background: lightgrey;
}

.mine {
    width: 6px;
    height: 6px;
    background: red;
    animation: mine 1s linear infinite;
}

@keyframes mine {
    from {
        transform: translate(0, -1px);
    }
    50% {
        transform: translate(0, 1px);
    }

    to {
        transform: translate(0, -1px);
    }

}

.checked {
    background: green;
}

.hidden {
    display: none;
}

.flag {
    background: lightpink;
}


.mine__counter {
    color: black;
    margin-bottom: 20px;
}

