ul {
    list-style: none;
}

li {
    line-height: 30px;
}

a {
    display: block;

}

.icon {
    display: inline-block;
    width: 110px;
    height: 115px;
    background: url("../img/sprite-angry-birds.png") 0 0;
}

.link {
display: inline-block;
}

li:hover .icon{
    background: url("../img/sprite-angry-birds.png") 0 -110px;
    ba
}

/*.link::before {*/
/*    content: url("../img/sprite-angry-birds.png");*/
/*    */
/*    display: inline-block;*/

/*}*/