* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 5rem;
    margin: 30px;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    margin: 30px;
    padding: 0 40px;
}

.main__container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/star.jpg");
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    perspective: 300px;
    transform-style: preserve-3d;

}

.animation {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellow;


        animation-name: star__wars;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
}

@keyframes star__wars {
    from {
        transform: translate3d(0, 400px, 400px) rotateX(40deg);
    }

    to {
        transform: translate3d(0, -500px, -500px) rotateX(40deg);
    }
}

