* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e3e3;
}

h2 {
    margin: 15px 30px;
}

p {
    margin: 0 30px;
    color: #222f3a;
    line-height: 130%;
}

.btn-wrapper{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    background-color: #33333a;
    cursor: pointer;
}
.btn:active,
.btn:focus{
    outline: none;
}

.lightblue {
    background-color: lightskyblue;
}