* {
    margin: 0;
    padding: 0;

}
body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 100px auto;
    width: 150px;
    height: 150px;
    background-color: #fff;
    transition: background-color,  border-radius, border;

    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;

    border: 1px solid lightgrey;
    border-radius: 50%;


}

.container:hover {
    /*background-color: #4bcaff;*/
    border-radius: 0;
    animation-name: round;
    /*animation-delay: 01.5s;*/
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

@keyframes round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}


.red:hover {
     background-color: lightcoral;
 }

.green:hover {
    background-color: lightgreen;
}

.blue:hover {
    background-color: lightskyblue;
}

.yellow:hover {
    background-color: lightyellow;
}

.orange:hover {
    background-color: lightsalmon;
}


@media all and (max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }
}
