* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 50px auto 100px 200px;
    grid-gap: 5px;
    font-size: 50px;
    /*justify-items: center;*/
    /*align-items: center;*/
}

.container div {
    border: 1px solid lightblue;
}
.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
}