.main__container {
    width: 1400px;
    height: 700px;
    text-align: center;
    vertical-align: center;
    background-color: #35444f;
    margin: 0 auto;
    line-height: 100%;
}


.container__1 {
    display: inline-block;
    background-color: #196685;
    width: 30%;
    height: 300px;
    padding: auto 0;
    line-height: 100%;
}


.container__2 {
    display: inline-block;
    background-color: #16a085;
    width: 60%;
    height: 400px;
    margin-left: 15px;
    line-height: 100%;
}





/*.test__container {*/
/*    display: flex;*/
/*    justify-content:   center;*/
/*    align-items: center;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    background: linear-gradient(to right, yellow, darkred);*/
/*}*/

/*.img__container {*/
/*    width: 195px;*/
/*    height: 195px;*/
/*    background-color: #fff;*/
/*}*/


/*.blue__container {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color: deepskyblue;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-end;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    }*/
/*.blue__container span {*/
/*    text-align: center;*/
/*    padding-bottom: 300px;*/
/*    font-size: 2.5rem;*/
/*    color: #fff;*/
/*}*/

/*.pink__container {*/
/*    position: absolute;*/
/*    transition-duration: 0.6s;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    bottom: -200px;*/
/*    background-color: deeppink;*/
/*    font-size: 2rem;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/

/*.some__link {*/
/*    display: block;*/
/*    text-decoration: none;*/
/*    font-size: 2.5rem;*/
/*    color: deepskyblue;*/
/*}*/

/*.blue__container:hover .pink__container {*/
/*    bottom: 0;*/
/*}*/

/*.some__link:hover {*/
/*    color: deeppink;*/
/*}*/

/*.some__link:hover .pink__container {*/
/*    bottom: 0;*/
/*   }*/


/*.img__container__1 p {*/
/*    visibility: hidden;*/
/*    transition: visibility 1s cubic-bezier(0, 0, 01, 5) 1000ms;*/
/*}*/


/*.test__container__1:hover .img__container__1 p {*/
/*    visibility: visible;*/
/*}*/


/*.box-crew{*/
/*    border:7px solid #B7ED92;*/
/*    height:178px;*/
/*    position:relative;*/
/*    width:171px;*/
/*    overflow:hidden;*/
/*}*/

/*.box-crew span{*/
/*    background-color:rgba(0, 0, 0, 0.4);*/
/*    top:-100px;*/
/*    transition-duration:0.6s;*/
/*    padding:10px 0;*/
/*    position:absolute;*/
/*    text-align:center;*/
/*    color:#fff;*/
/*    font-size:12px;*/
/*    font-weight:bold;*/
/*    line-height:16px;*/
/*    margin:0;*/
/*    display:block;*/
/*    width:100%;*/
/*}*/

/*div.box-crew:hover span{*/
/*    top:0;*/
/*}*/


/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Verdana';*/
/*    src: url('../fonts/Verdana.eot');*/
/*    src: local('Verdana'),*/
/*    url('Verdana.eot?#iefix') format('embedded-opentype'),*/
/*    url('Verdana.woff') format('woff'),*/
/*    url('Verdana.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*.main__container {*/
/*    font-family: Verdana, sans-serif;*/
/*    background-image: url("../img/background.png");*/
/*    background-repeat: no-repeat;*/
/*    width: 1366px;*/
/*    height: 768px;*/
/*    position: absolute;*/
/*}*/

/*!*HEADER STYLES*!*/

/*header {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    height: 50px;*/
/*    margin-top: 50px;*/
/*}*/


/*.img__header__container {*/
/*    display: inline-block;*/
/*    margin-left: 155px;*/
/*    background-image: url("../img/milan_logo.png");*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.img__header__container:hover {*/
/*    background-image: url("../img/milan_logo_hover.png");*/
/*}*/

/*.milanholidays__logo__container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 15px;*/

/*}*/
/*.logo__container__main {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*}*/

/*.header__logo__link__main{*/
/*    display: inline-block;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*}*/

/*.header__logo__link:hover {*/
/*    color: #dd5c1f;*/
/*}*/

/*.milan__logo {*/
/*    font-size: 29px;*/
/*    transform: scaleY(0.9); !*Наш шрифт слегка отличается по высоте символа, поэтому мы трансформируем его по оси Y*!*/
/*    line-height: 90%;*/

/*}*/

/*.holidays__logo {*/
/*    font-size: 18px;*/
/*    transform: scaleY(0.9);*/
/*}*/

.logo__container__1 {
    padding-left: 15px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 300px;
    background-color: black;
    background-image: url("../img/milan_logo.png");
    background-repeat: no-repeat;
}

.logo__container__1 span {
    color: #fff;
    font-size: 2rem;
    margin-left: 50px;
}

.container__1 a {
    text-decoration: none;
}

.container__1 a:hover .logo__container__1 span {
    color: #dd5c1f;
}

.container__1 a:hover .logo__container__1 {
    background-image: url("../img/milan_logo_hover.png");
}
