@import "mixins";
@import "variables";

//@media screen and (min-width: 320px) and (max-width: 1199px) {}
//@media screen and (min-width: 1200px) {}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .content__main-container {
    @include flex-column;
    width: 90vw;
    background: $background-color;
    position: relative;

  }

  .pink-rectangle {
    width: 266px;
    height: 64.56px;
    background: #ED1260;
    position: absolute;
    left: 100%;
    top: 100%;
    margin-left: -266px;
    z-index: 100;

  }

  .content__main-container h2 {
    width: 90vw;
    font-size: 16px;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
  }

  .content__content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .content__element {
    @include flex-column;
    width: 150px;
    color: #fff;
    font-size: 14px;
  }

  .content__element span {
    text-align: center;
    margin-top: 13px;
  }


  .map__container {
    @include flex-column;
    width: 70vw;
    height: 25vh;
    border: 5px solid #ED1260;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    margin-bottom: 70px;
  }

  .map__image {
    width: 65vw;
    height: 20vh;
    position: relative;
  }

  .map__container span {
    margin-top: 7px;
  }

}

@media screen and (min-width: 1200px) {
  .content__main-container {
    @include flex-column;

    width: 90vw;
    background: $background-color;

  }

  .pink-rectangle {
    width: 107px;
    height: 347px;
    background: #ED1260;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -115px;

  }

  .content__main-container h2 {
    width: 90vw;
    font-size: 2vw;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
  }

  .content__content-container {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }

  .content__element {
    @include flex-column;

    margin: 30px 0;
    color: #fff;
    font-size: 1.2vw;

    img {
      width: 5vw;
    }
  }

  .content__element span {
    text-align: center;
    margin-top: 13px;
  }


  .map__container {
    @include flex-column;

    width: 70vw;
    height: 50vh;
    border: 5px solid #ED1260;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.2vw;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .map__image {
    width: 65vw;
    height: 40vh;
    position: relative;
  }

  .map__container span {
    margin-top: 20px;
  }

}