@import "mixins";
@import "variables";

header {
  width: 90vw;
  @include flex-row;

  .wrapper {
    width: 90vw;
    @media screen and (min-width: 320px) and (max-width: 1199px) {
      height: 75px;
      background: $background-color;
      display: flex;
      justify-content: space-between;
      align-items: center;


      .header-logo {
        width: 81px;
        height: 61px;
        background: url("../img/header-ico.png") no-repeat;
        background-size: cover;
      }

      .header-navigation {
        width: 40px;
        height: 40px;
        position: relative;
        cursor: pointer;
      }

      .header__mobile-ico {
        width: 100%;
        height: 100%;

      }

      i {
        font-size: 30px;
        color: #fff;

      }


      .header-navigation ul {
        display: none;
        position: absolute;
        color: #fff;
        z-index: 100;
        list-style: none;
        left: -50px;
        top: 48px;

      }

      .header-navigation li {
        width: 100px;
        height: 40px;
        background: #151616;
        text-align: center;
        line-height: 40px;

        a {
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }


    @media screen and (min-width: 1200px) {
      height: 80px;
      background: #151616;
      display: flex;
      justify-content: space-between;
      align-items: center;


      .header-logo {
        width: 81px;
        height: 61px;
        background: url("../img/header-ico.png") no-repeat;
        background-size: cover;
        margin-left: 10px;
      }

      .header-navigation {

        margin-right: 10px;
      }

      .header__mobile-ico {
        display: none;
        width: 100%;
        height: 100%;

      }

      .header__mobile-ico--line {
        height: 1px;
        width: 25px;
        background: #F38A03;
        margin-top: 5px;
      }


      .header-navigation ul {
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 1vw;


      }

      .header-navigation li {
        padding: 0 50px;
        text-align: center;
        a {
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}




