@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
 @include flex-column;
  background: $background-color;


}

a {
  text-decoration: none;
  color: $link-color;
}
main {
  @include flex-column;
}