* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e3e3;
}

h2 {
    margin: 15px 30px;
}

p {
    margin: 0 30px;
    color: #222f3a;
    line-height: 130%;
}