* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e3e3;
}

h2 {
    margin: 15px 30px;
}

p {
    margin: 15px 30px;
    color: #222f3a;
    line-height: 130%;
}

ol {
    margin: 40px;
    list-style: circle;
}



.arrayListContainer {
    width: 50vw;
    border: 1px solid grey;
    padding: 10px;
    margin: auto;
    box-sizing: content-box;
}

.countdownTimer {
    width: 300px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: #fff;
    margin: 20px auto;

}


