body {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95vw;
    height: 50vh;
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    /*flex-direction: column;*/

}

.flex__item {
    border: 1px grey solid;
    padding: 5px;
    width: 10%;
    overflow: hidden;
    text-align: center;
    font-size: 45px;
    line-height: 80px;
}

.color__1 {
    background-color: lightpink;
    order: 1;
    /*flex-basis: 200px;*/
    /*flex-grow: 01;*/
}

.color__2 {
    background-color: lightyellow;
    order: 2;
    /*align-self: flex-end;*/
    /*flex-grow: 01;*/


}

.color__3 {
    background-color: lightgreen;
    order: 3;
    /*flex-grow: 01;*/


}

.color__4 {
    background-color: lightblue;
    order: 4;
    /*flex-grow: 01;*/


}

.color__5 {
    background-color: lightgrey;
    order: 5;
    /*flex-grow: 2;*/

}


