@import "variables";
@import "mixins";


.instagram__content {
  background: $background-color;
  width: 100vw;
  @include flex-column;
  margin-top: 2vw;

  .content__wrapper {
    width: 90vw;
    display: grid;


    @media screen and (min-width: 320px) and (max-width: 767px) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      margin: 3.5vw 0;


      img {
        display: none;
        width: 70vw;

        &:first-child {
          display: block;
        }
      }


    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 3.5vw 0;



      img {

        width: 25vw;

        &:last-child {
          display: none;
        }
      }


    }

    @media screen and (min-width: 1200px) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1vw;
      margin-bottom: 3.5vw;


      img {
        width: 100%;

      }

    }
  }
}