@import "variables";
@import "mixins";

h2 {
  width: 90vw;
  font-weight: bold;
  color: $text-color;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 3.5vw;
    margin-top: 2vw;
    margin-bottom: -1vw;

  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 3.5vw;
    margin-top: 2vw;
  }

  @media screen and (min-width: 1200px) {
    font-size: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }


}


.our__resent__post {
  .content__wrapper {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 90vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      color: $text-color;
      margin-top: 1.5vw;

      .post__container {

        &:last-child {
          display: none;
        }
      }
      a {
        color: $text-color;

        &:hover {
          color: $link-hover-color;

        }
      }


      img {
        margin-top: 10px;
        width: 50vw;
      }

      h3 {
        font-size: 3.5vw;
        font-weight: bold;
        line-height: 6vw;
        margin-bottom: 5px;
      }

      span {
        font-size: 2.5vw;
        color: $post-description-color;

        a {
          color: $post-description-color;
          margin: 0 2px;

          &:hover {
            color: $link-hover-color;
          }
        }
      }

      article {
        display: none;
      }


    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 90vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      color: $text-color;
      margin-top: 1.5vw;
      grid-gap: 35px;

      .post__container {

      }
      a {
        color: $text-color;

        &:hover {
          color: $link-hover-color;

        }
      }


      img {
        float: left;
        width: 20vw;
        margin-right: 20px;;
      }

      h3 {
        font-size: 2.5vw;
        font-weight: bold;
        line-height: 4vw;
      }

      span {
        font-size: 2vw;
        color: $post-description-color;
        line-height: 30px;

        a {
          color: $post-description-color;
          margin: 0 2px;

          &:hover {
            color: $link-hover-color;
          }
        }
      }

      article {
        margin-top: 5px;
        max-width: 75vw;
        font-size: 1.8vw;
        color: $text-color;
        line-height: 2.5vw;
      }

    }


    @media screen and (min-width: 1200px) {
      width: 90vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      color: $text-color;
      margin-top: 1vw;
      grid-gap: 35px;

      .post__container {

      }
      a {
        color: $text-color;

        &:hover {
          color: $link-hover-color;

        }
      }


      img {
        float: left;
        width: 15vw;
        margin-right: 1vw;;
      }

      h3 {
        font-size: 1.7vw;
        font-weight: bold;
        line-height: 3vw;
      }

      span {
        font-size: 1.2vw;
        color: $post-description-color;
        line-height: 3vw;

        a {
          color: $post-description-color;
          margin: 0 2px;

          &:hover {
            color: $link-hover-color;
          }
        }
      }

      article {
        margin-top: 5px;
        max-width: 75vw;
        font-size: .9vw;
        color: $text-color;
        line-height: 1.5vw;
      }

    }
  }
}