* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

h2 {
    margin: 15px 30px;
}

p {
    margin: 0 30px;
    color: #222f3a;
    line-height: 130%;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightyellow;
    width: 300px;
    height: 400px;
    margin: 40px auto;
}
.number__wrapper {
    display: flex;
    justify-content: space-around;

}

.input__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 10px;
    font-size: 14px;
}
input {
    width: 100px;
    margin-bottom: 10px;
    padding: 5px 5px;
}

button {
    margin: 10px;
    padding: 5px 15px;
    outline: none;
}