body {
    background-color: #222f3a;
    color: #ffffff;
    font-family: Verdana, sans-serif;
}

.test__mouse {
    border: 1px solid #df3a46;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
}
.test__mouse h2:first-letter {
    color: red;
}

.test__mouse:hover {
    cursor: pointer;
    background-color: #dd5c1f;
    color: #4bcaff;
}

.some__list > li:nth-child(2n) {
    background: #dd5c1f;
    color: #89c331;
}