.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 50vh;
    font-family: sans-serif;
}


.password-form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn {
    width: 150px;
}


.errorSpan {
     color: red;
     margin-bottom: 12px;
 }

.confirmSpan {
    color: green;
    margin-bottom: 12px;
}

.you__are__welcome {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -350px;
    font-family: sans-serif;
    width: 700px;
    height: 100px;
    /*border: 1px solid black;*/
    border-radius: 6px;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    animation: you__are__welcome 1s infinite linear;

}

@keyframes you__are__welcome {
    from {
        font-size: 50px;
        color: black;
    }
    50% {
        font-size: 60px;
        color: green;
    }
     to {
         font-size: 50px;
         color: black;
     }
}