body {
    /*background: black;*/
    }
.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div  {
    /*display: flex;*/
    /*justify-content: center;*/
    /*vertical-align: center;*/
    width: 400px;
    height: 100px;
    border: 1px solid black;
    margin: 5px 30px;
}

#first__div {
    background: lightslategrey;
}
#second__div {
background: deepskyblue;
}
#third__div {
background: limegreen;
}
#fourth__div {
background: yellow;
}
#fifth__div {
background: red;
}

section {
    /*width: 200px;*/
    /*height: 100px;*/
    background: #b4b7ba;
    /*display: inline-block;*/
}
p::before {
    content: "";
    display:inline-block;
    width: 50px;
    height: 100px;
    background: red;
    /*margin-right: 20px;*/
    position: relative;
}

#first__div::before {
    content: '\260E';
    display: inline-block;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
    background: grey;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

#second__div::before {
    content: '\260E';
    display: inline-block;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
    background: blue;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

#third__div::before {
    content: '\260E';
    display: inline-block;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
    background: darkgreen;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

#fourth__div::before {
    content: '\260E';
    display: inline-block;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
    background: darkgoldenrod;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

#fifth__div::before {
    content: '\260E';
    display: inline-block;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
    background: darkred;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

.bold__span {
    font-weight: bold
}

span {
    display: inline;
}

