.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "left center right"
    "footer footer footer";
}

.b1 {
    border: 1px solid lightblue;
}

.header {
    grid-area: header;
}

.menu__wrapper {
    grid-area: left;

}

.vertical__nav {

}

.content {
    grid-area: center;

}

.advert {
    grid-area: right;

}

.footer {
    grid-area: footer;

}



@media all and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr  3fr 0.5fr 1fr;
        grid-template-areas:
                "header header"
                "left center"
                "right right"
                "footer footer";
    }
}

@media all and (max-width: 600px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 1fr 0.5fr 3fr 0.5fr 1fr;
        grid-template-areas:
                "header"
                "left"
                "center"
                "right"
                "footer";
    }
}



