* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 36px;
    color: #4e4e4e;
    font-weight: 400;
}

.flex__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*-------------------HEADER STYLES-------------------*/

/*--------header ico styles--------*/
.header__container {
    position: fixed;
    height: 120px;
    min-width: 1200px;
    width: 100vw;
    background: rgba(65, 65, 60, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.header__content__wrapper {
    min-width: 1160px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 70px;
}

.header__logo__ico {
    width: 60px;
    height: 70px;
    background-image: url('../img/ico/header-ico.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.header__logo:hover .header__logo__ico {
    animation: rotate .5s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header__logo__text {
    margin-left: 10px;
    color: #fff;
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
}

.header__logo__ham {
    color: #18cfab;
    font-weight: bold;
}

/*--------header nav styles--------*/

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav a {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: bold;
    margin: 0 12px;
    line-height: 122px;
}

.header__nav a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    margin-top: 2px;
}

/*-------------------THE HAM STYLES-------------------*/

.the__ham {
    min-width: 1200px;
    height: 1010px;
    background-image: url("../img/sectionsBackground/section-1(header).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the__ham__content__wrapper {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.the__ham__content__wrapper h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 250px 0 0 0;
    padding: 0;
}

.the__ham__content__wrapper h1 span {
    color: #18cfab;
}

.the__ham__we__are {
    font-size: 79px;
    font-weight: bold;
    margin: 45px 0 35px 0;
    line-height: 79px;
}

.the__ham__just__by {
    font-size: 30px;
}

.the__ham__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.the__ham__button__container .button__container {
    margin: 0 15px;
}

.button {
    display: block;
    text-decoration: none;
    width: 165px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    line-height: 65px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    transition: box-shadow .2s linear;
    box-shadow: 0 4px #fff inset;
}

.color1 {
    background-color: #18cfab;
}

.color2 {
    background-color: #00cbf6;
}

.button__container:hover .button {
box-shadow: none;
}

/*-------------------FOUR SQUARES-------------------*/


.four__squares__main__wrapper {
    display: flex;
}

.four__squares__container {
    min-width: 25%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    transition: font-size .5s linear;
    cursor: pointer;
}

.four__squares__container:hover {
    font-size: 22px;
}

.four__squares__container span {
    margin-top: 45px;
    margin-bottom: 120px;
    text-align: center;
}

.black {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 5px solid #18cfab;
}

.blue {
    background-color: #18cfab;
    color: #fff;
    border-top: 5px solid #fff;
}

/*-------------------OUR SERVICES-------------------*/

.our__services__main__wrapper {
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.our__services__main__wrapper h2 {
    margin: 85px 0 30px 0;
    padding: 0;
}

.shape__container {
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    margin-bottom: 3px;;
}

.left__line {
    margin-left: -10px;
}

.right__line {
    margin-left: 10px;
}

.our__services__nav__container {
    width: 1160px;
    display: flex;
    margin-top: 70px;
}


.our__services__element__container {
    width: 190px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebecec;
    background-color: #f8fcfe;
    color: #717171;
}


.rectangle {
    width: 1px;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -4px;
    border: 8px solid transparent;
    border-top: 8px solid #18cfab;
}

.our__service__content__container {
    width: 1160px;
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.786;
    display: none;
}


.our__service__content__container img {
    width: 200px;
    height: 140px;
    float: left;
    margin-right: 20px;
}

.our__services__active {
    background: #18cfab;
    color: white;
    border: none;
}

/*-------------------EVERYTHING IS READY-------------------*/


.everything__ready__main__container {
    min-width: 1200px;
    height: 475px;
    background-image: url("../img/sectionsBackground/section-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.everything__ready__main__wrapper {
    min-width: 1200px;
    height: 475px;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
    position: relative;
}

.everything__ready__content__container {
    width: 1160px;
    height: 475px;
    margin: 0 auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

.everything__ready__content__container h2 {
    font-weight: bold;
    font-size: 40px;
    color: #18cfab;
}

.everything__ready__content__container p {
    margin: 35px 0 75px 0;
}


/*-------------------OUR WORK-------------------*/

.our__work__main__wrapper {
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8fcfe;
}

.our__work__main__wrapper h2 {
    margin: 100px 0 30px 0;
    padding: 0;
}

.our__work__nav__container {
    width: 1160px;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    font-size: 14px;
}

.our__work__element__container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebecec;
    background-color: #f8fcfe;
    color: #717171;
}

.our__work__content__container {
    width: 1160px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);;
    margin-top: 70px;
}

.our__work__content {
    display: none;
    width: 285px;
    height: 205px;
    position: relative;
    perspective: 1000px;
}

.our__work__content__front, .our__work__content__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 205px;
    transition: transform 1s;
    backface-visibility: hidden;
}

.our__work__content__front {
    background-size: cover;
}

.our__work__content__back {
    background: #fff;
    border-top: 3px solid #18cfab;
    transform: rotateY(180deg);
}

.our__work__content__ico__wrapper {
    margin-bottom: 35px;
}

.our__work__content:hover .our__work__content__front {
    transform: rotateY(180deg);
}

.our__work__content:hover .our__work__content__back {
    transform: rotateY(360deg);
}


.our__work__content__link__ico {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    color: #18cfab;
    margin: 3px;
}

.our__work__content__link__ico:hover {
    color: #fff;
    background: #18cfab;
}

.our__work__content__search__ico {
    width: 38px;
    height: 38px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    margin: 3px;
}

.our__work__content__search__ico:hover {
    color: #fff;
    background: #18cfab;
}

.our__work__content__container h3 {
    font-size: 14px;
    color: #18cfab;
    margin-bottom: 15px;
}

.our__work__content__container span {
    font-size: 12px;
}

.load__more {
    width: 165px;
    background: #18cfab;
    border-radius: 5px;
    color: #fff;
    outline: none;
    font-size: 14px;
    margin: 70px 0 100px 0;
    cursor: pointer;
}

.load__more span {
    font-weight: bold;
    margin-left: 15px;
    line-height: 60px;
}

.our__work__active {
    background-color: #fff;
    color: #18cfab;
    position: relative;
}

.our__work__active__line {
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    top: -2px;
    left: 0;
}

/*-------------------BREAKING NEWS-------------------*/

.breaking__news__main__container {
    min-width: 1200px;
    justify-content: flex-start;
}

.breaking__news__main__container h2 {
    margin-top: 85px;
    margin-bottom: 30px;
}

.breaking__news__content__container {
    width: 1160px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);;
    margin-top: 70px;
    justify-items: center;
}

.breaking__news__content {
    width: 265px;
    height: 290px;
    display: flex;
    flex-direction: column;
    color: #717171;
    font-size: 14px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.breaking__news__content .image {
    width: 265px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.breaking__news__content .date {
    width: 67px;
    height: 67px;
    background-color: #203e38;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100%;
    margin-left: -67px;
    font-size: 16px;
}




.breaking__news__content h4 {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 155px;
    left: 15px;
    z-index: 1;
}

.breaking__news__content .author__comment__container {
    z-index: 2;
    position: relative;
    left: 15px;
    top: 170px;
}

.breaking__news__content .author {
    padding-right: 16px;
    border-right: 1px solid #717171;
}

.breaking__news__content .comment {
    margin-left: 16px;
}

.breaking__news__content:hover .date {
    background-color: #18cfab;
    color: #fff;
}

.breaking__news__content:hover h4 {
    color: #18cfab;
}

/*-------------------WHAT PEOPLE SAY-------------------*/

.what__people__say__main__container {
    min-width: 1200px;
    min-height: 855px;
    background-image: url("../img/sectionsBackground/section-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    margin-top: 130px;
    justify-content: flex-start;
}

.what__people__say__main__wrapper {
    min-width: 1200px;
    min-height: 855px;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    position: relative;
    justify-content: flex-start;
}

.what__people__say__content__container {
    width: 1140px;
    justify-content: flex-start;
}

.what__people__say__content__container h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    color: #fff;
}



.fa-quote-left {
    font-size: 30px;
    color: #18cfab;
    margin: 70px 0 40px 0;
}

.author__content {
    color: #bbbbbb;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author__content p {
    font-size: 16px;
    text-align: center;
}

.author__content h5 {
    color: #18cfab;
    font-size: 20px;
    margin: 45px 0 15px 0;
    text-align: center;
}

.author__content span {
    text-align: center;
}



.photo__wrapper {
    width: 190px;
    height: 190px;
    background-color: rgba(24, 207, 171, .3);
    border-radius: 50%;
    margin: 25px 0 40px 0;
}

.photo__container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #18cfab;
    background-size: cover;
    background-position: center;
}

#bredPitt-content .photo__container {
    background-image: url("../img/photo/photo-1.jpg");
}

#bruceWillis-content .photo__container {
    background-image: url("../img/photo/photo-2.jpg");
}

#jackieChan-content .photo__container {
    background-image: url("../img/photo/photo-3.jpg");
}

#sylvesterStallone-content .photo__container {
    background-image: url("../img/photo/photo-4.jpg");
}

#chuckNorris-content .photo__container {
    background-image: url("../img/photo/photo-5.jpg");
}

#ronSwanson-content .photo__container {
    background-image: url("../img/photo/photo-6.jpg");
}

.carousel {
    margin-bottom: 100px;
}

.photo__container__carousel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.photo__wrapper__carousel {
    width: 70px;
    height: 70px;
    background-color: rgba(24, 207, 171, .3);
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: transform .5s;


}

#bredPitt {
    background-image: url("../img/photo/photo-1.jpg");
}

#bruceWillis {
    background-image: url("../img/photo/photo-2.jpg");
}

#jackieChan {
    background-image: url("../img/photo/photo-3.jpg");
}

#sylvesterStallone {
    background-image: url("../img/photo/photo-4.jpg");
}

#chuckNorris {
    background-image: url("../img/photo/photo-5.jpg");
}

#ronSwanson {
    background-image: url("../img/photo/photo-6.jpg");
}

.photo__container__carousel:hover {
    border: 2px solid #18cfab;
}

.photo__wrapper__carousel:hover {
    transform: translateY(-10px);
}

.carousel__container__overflow {
    width: 400px;
    height: 90px;
    overflow: hidden;
    justify-content: flex-start;
}

.carousel__container {
    transition: margin-left 1s;
}

.carousel__left__right {
    width: 30px;
    height: 30px;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 15px;
    cursor: pointer;
}

.carousel__left__right:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.what__people__say__active__wrapper {
    transform: translateY(-10px);
}

.what__people__say__active__container {
    border: 2px solid #18cfab;
}

/*-------------------FOOTER-------------------*/

.footer__container {
    min-width: 1200px;
    height: 105px;
    background: #22353f;
    color: #fff;
    font-size: 14px;
    margin: 15px 0;
}

.footer__container a {
    text-decoration: none;
    color: #18cfab;
    font-size: 14px;
    margin: 0 5px;
}

/*-------------------PRELOADER-------------------*/

.gooey {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
    filter: contrast(20);
    margin: 20px 0 -50px 0;
}

.dot {
    position: relative;
    width: 16px;
    height: 16px;
    top: 12px;
    filter: blur(4px);
    background: #18cfab;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot .8s infinite;
}

.dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots .8s infinite;
}

.gooey span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #18cfab;
    border-radius: 50%;
}

@keyframes dot {

    50% {
        transform: translateX(96px)
    }
}

@keyframes dots {

    50% {
        transform: translateX(-31px)
    }
}
