@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: local('Verdana'),
    url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Verdana, sans-serif;
}


.main__container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.main__container__background__white {
    background-image: url("../img/background.png");
}

.main__container__background__black {
    background-image: url("../img/black-background.jpg");
    background-size: cover;

}

.header__main__container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    width: 100vw;
}

.header__main__container__white {
    background: rgba(0, 0, 0, 0.4);
}

.header__main__container__black {
    background: rgba(255, 255, 255, 0.4);

}

.journey {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
}

.journey:hover {
    color: #3cb878;
}

.header__left__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.header__ico__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px #302f2e solid;
}

.header__login__container {
    margin-left: 25px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic_calendar {
    width: 20px;
    height: 20px;
    background-position: -89px -5px;
    margin-left: 5px;
}

.sprite-ic_calendar:hover {
    background-position: -60px -5px;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -118px -5px;
    margin-left: 25px;
}

.sprite-ic_forum:hover {
    background-position: -156px -5px;
}

.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -194px -5px;
    margin-left: 25px;
    margin-right: 25px;
}

.sprite-ic_journey:hover {
    background-position: -224px -5px;
}

.link {
    color: #3cb878;
}

/*FORM STYLE*/


.sign__in__form {
    background-color: white;
    width: 445px;
    height: 585px;
    position: fixed;
    top: 55%;
    left: 50%;
    margin-top: -292px;
    margin-left: -222px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign__in__form__content {
    width: 325px;
    height: 525px;
}


/*FORM HEADER*/
.form__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form__header > span {
    font-size: 20px;
}

/*FORM SIGN UP BUTTON*/

.form__header__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    width: 157px;
    height: 46px;
}

.facebook {
    background-color: rgb(48, 93, 184);
}

.google__plus {
    background-color: rgb(223, 74, 50);
}


.sprite-facebook1 {
    width: 10px;
    height: 20px;
    background-position: -40px -5px;
    margin: auto;
}

.facebook__link {
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    color: #fff;
    line-height: 1.313;
    border-left: 1px #2b54a5 solid;
    padding: 0 20px;
}

.sprite-G_ {
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
    margin: auto;
}

.google__plus__link {
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    color: #fff;
    line-height: 1.313;
    border-left: 1px #c8422d solid;
    padding: 0 29px;
}

.input {
    width: 313px;
    height: 45px;
    margin: 5px 0;
    border: 1px lightgray solid;
    border-radius: 4px;
    mso-border-shadow: yes;
    padding-left: 10px;
    font-size: 14px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__or__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#or {
    color: lightslategrey;
    margin: 0 10px;
}

.checkbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    margin-right: 10px;
}

.label__checkbox {
    cursor: pointer;
    margin: 0 7px;
}

.span__checkbox:active .checkbox {

}

.button__create__account {
    width: 325px;
    height: 46px;
    background-color: #3cb878;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
    font-size: 18px;
    outline: none;
    border: none;

}

.form__green__square {
    position: absolute;
    right: 427px;
    bottom: 534px;
}

.facebook:hover {
    background-color: #264b96;
}

.facebook:hover .facebook__link {
    background-color: #264b96;
}


.google__plus:hover {
    background-color: #c3412c;
}

.button__create__account:hover {
    background-color: #329a65;
}

.change__theme__button {
    width: 100px;
    height: 60px;
    background: rgba(255, 255, 255, .6);
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    left: 100px;
    cursor: pointer;
    border-radius: 6px;
}

.change__theme__button:hover {
    box-shadow: 0 0 10px #fff;
}


