body {
    margin: 0;
}

.main__container {
    max-width: 1280px;
    height: 1626px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__link {
    text-decoration: none;
    font-size: 18px;
    color: #16a085;
    margin: 32px 35px 36px 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.main__img__container img {
    padding-bottom: 0;
    display: block;
    max-width: 100%;
    height: auto;
}

.text__container__main {
    display: flex;
    justify-content: center;
    height: 650px;
    background-color: #f5f6f7;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 20px;
    text-align: center;

}

.text__container__local {
    width: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 22px;
    font-weight: 900;
    word-spacing: 11px;
    padding: 18px 0 18px 0;
    margin: 0;
}

.text__container__local p {
    margin: 18px 0 18px 0;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    background-color: rgb(22, 160, 133);
    border: 1px solid #f5f6f7;
    width: 152px;
    height: 52px;
    font-weight: bold;
    color: #f5f6f7;
    margin-top: 46px;

}

footer {
    display: flex;
    justify-content: center;
}

.footer__container {
    width: 1060px;
    font-size: 16px;
    text-align: right;
    margin-top: 47px;
    font-weight: bold;
}

.footer__container p {
    margin: 0;
}


.animation__container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #16a085;
}

.main__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #222f3a;
    position: relative;
    z-index: 1;
}

.secondary__circle__1 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;
}

@keyframes circle__1 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translateX(-100px);
        z-index: 2;
    }

    75% {
        transform: translateX(100px);
    }
    100% {


    }
}


.secondary__circle__7 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__7;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;

}

@keyframes circle__2 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translateY(-100px);
        z-index: 2;
    }

    75% {
        transform: translateY(100px);
    }
    100% {


    }
}

@keyframes circle__7 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translateX(100px);
        z-index: 2;
    }

    75% {
        transform: translateX(-100px);
    }
    100% {


    }
}


.secondary__circle__8 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__8;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;

}

@keyframes circle__8 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translateY(100px);
        z-index: 2;
    }

    75% {
        transform: translateY(-100px);
    }
    100% {


    }
}



.secondary__circle__3 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;

}

@keyframes circle__3 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translate(-80px, -80px);
        z-index: 2;
    }

    75% {
        transform: translate(80px, 80px);
    }
    100% {


    }
}

.secondary__circle__4 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;

}

@keyframes circle__4 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translate(80px, 80px);
        z-index: 2;
    }

    75% {
        transform: translate(-80px, -80px);
    }
    100% {


    }
}

.secondary__circle__5 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__5;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;

}

@keyframes circle__5 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translate(80px, -80px);
        z-index: 2;
    }

    75% {
        transform: translate(-80px, 80px);
    }
    100% {


    }
}

.secondary__circle__6 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    animation-name: circle__6;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
    box-shadow: 0 0 10px 1px white;

}

@keyframes circle__6 {
    0% {

    }
    24% {
        z-index: 0;
    }
    25% {
        transform: translate(-80px, 80px);
        z-index: 2;
    }

    75% {
        transform: translate(80px, -80px);
    }
    100% {


    }
}

