* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e3e3;
}

h2 {
    margin: 15px 30px;
}

p {
    margin: 15px 30px;
    color: #222f3a;
    line-height: 130%;
}

div {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;

}

input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.buttonX {

    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 25px;
}

.buttonX:hover {
    cursor: pointer;
    color: darkred;
}

#spanErrorId {
    position: relative;
    top: 70px;
    left: 25px;
    color: red;

}

#spanContainerId {
    position: relative;
    left: 21px;
    top: -10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 10px;

}


.theory {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
}

