body {
    margin: 0;
    padding: 0;
}

.main__container {
    height: 100vh;
    background-image: url("../img/back-hny.jpg");
    background-size: cover;
}

header {
    width: 100%;
    height: 56px;
    background: rgba(255, 255, 255, 0.4);
}


.form__container {
    width: 200px;
    height: 350px;
    background: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -130px;

}