$text-color: green;
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


body{
  color: $text-color;
  background: $text-color;
}

h1 {
  @include flex;
  text-align: left;
}

h2{
  text-align: left;
}