.horizontal__navigation {
    display: flex;
    justify-content: center;
    padding: 12px 15px 13px 15px;
    background: rgba(0, 0, 0, .6);

}


.horizontal__navigation ul {
    list-style: none;
    display: flex;
}

.horizontal__navigation li {
    padding: 0 30px;
}

.horizontal__navigation a {
    text-decoration: none;
    line-height: 40px;
    color: #fff;
}

.horizontal__navigation a:hover {
    color: #169cb4;
}

.to__top__button {
    display: none;
    width: 100px;
    height: 100px;
    background-image: url("../img/up-ico.png");
  background-size: cover;
    position: fixed;
    left: 90%;
    top: 80%;
    cursor: pointer;
}

.to__top__button:hover {
    background-image: url("../img/up-ico-hover.png");
}

.most__popular__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide__content__btn {
    background-color: #169cb4;
}

