* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/*-------------------- HEADER STYLES -----------------*/

.main__header {
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---------- HEADER LOGO STYLES --------*/

.header__logo__container {
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    background-image: url("../img/logo-header.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.5s;
}

.header__logo:hover {
    background-size: 30px;
}

.header__logo__architect {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
}

.header__logo__architect:hover {
    color: #169cb4;
}

/*------------ HEADER NAV STYLES ------------*/

.header__nav a {
    font-size: 15px;
    color: #fff;
    margin: 0 19px;
}

.header__nav a:hover {
    color: #169cb4;
}

/*------------- HEADER SEARCH ICO STYLES -------------*/

.header__search__container {
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    display: flex;
    color: #fff;
    font-size: 22px;
    justify-content: center;
    align-items: center;
}

.fa-search {
    transition: font-size 0.5s;
}

.header__search__container:hover {
    font-size: 26px;
}

/*----------------- LAST NEWS STYLES ---------------------*/

.last__news__main__container {
    height: 380px;
    background-image: url("../img/header-bg.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
}

.last__news__second__container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.button {
    display: block;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 55px;
    vertical-align: center;
    text-align: center;
    margin: 0 11px;
}

.subscribe__now__btn {
    background-color: #89ca62;
}

.best__articles__btn {
    background-color: #14b9d5;
}

.button:hover {
    box-shadow: 0 0 3px black;
}

/*------------- MOST POPULAR POST -----------------*/

.most__popular__post {
    margin: 0 auto;
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

.popular__post__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 63vw;
    margin: 0 auto;
}

.popular__post__secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.most__popular__post h3 {
    font-size: 27px;
    padding: 60px 0 30px 0;
    color: #18b4cf;
}

.popular__post__img__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 15px 0;
}

.popular__post__img__content span {
    line-height: 60px;
    vertical-align: center;
    font-weight: bold;
    font-size: 18px;
}

.popular__post__img__content img {
    width: 21vw;
}

/*------------- MOST POPULAR CLIENTS -----------------*/

.most__popular__clients {
    height: 570px;
    background-image: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 0 15px;
}

.most__popular__clients h3 {
    font-size: 30px;
    color: #fff;
    grid-area: 2/2/3/6;
    text-align: center;
    align-items: center;

}

.clients__grid__1 {
    grid-area: 3/2/4/3;
}

.clients__grid__2 {
    grid-area: 3/3/4/4;
}

.clients__grid__3 {
    grid-area: 3/4/4/5;
}

.clients__grid__4 {
    grid-area: 3/5/4/6;
}

/*------------- TOP RATED -----------------*/

.top__rated {
    text-align: center;
}

.top__rated h3 {
    font-size: 27px;
    padding: 60px 0 30px 0;
    color: #18b4cf;
}


.top__rated__content__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.top__rated__content__container img {
    width: 14vw;
}

/*------------- HOT NEWS -----------------*/

.hot__news {
    margin: 0 auto;
    /*height: 1030px;*/
    text-align: center;
}

.hot__news h3 {
    font-size: 27px;
    padding: 60px 0 30px 0;
    color: #18b4cf;
}

.hot__news__content__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 260px 415px 415px 260px;
    /*grid-template-rows: auto;*/
    grid-gap: 35px;
    /*width: 63vw;*/
    width: 1170px;
    margin: 0 auto;
    /*height: 1200px;*/
    font-size: 14px;
    grid-template-areas: "a a a b" "c c d d" "e e f f" "g h h h ";
    text-align: right;

}

.hot__news__element__container {
    background-color: #f2f2f2;
    display: flex;
}

.hot__news__element__container img {
    width: 100%;
    float: left;
}

.hot__news__element__container span {
    font-size: 18px;
    font-weight: bold;
    padding: 0 23px;

}

.hot__news__element__container p {
    line-height: 22px;
    padding: 0 23px;

}


/*------------- HOT NEWS CONTAINER 01 ----------------*/

.hot__news__img__container__1 {
    background-image: url("../img/hot-news/prophecy-hotel-and-spa.png");
    height: 100%;
    width: 60%;
    background-size: cover;
}

.hot__news__content__wrapper__1 {
    width: 40%;
    padding: 0 23px;
    text-align: right;
}

.hot__news__grid__1 {
    grid-area: a;
}

.hot__news__grid__1 span {
    line-height: 60px;
}

/*------------- HOT NEWS CONTAINER 2 ----------------*/

.hot__news__img__container__2 {
    background-image: url("../img/hot-news/nebula-hotel.png");
    height: 210px;
    background-size: cover;

}

.hot__news__grid__2 {
    grid-area: b;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hot__news__grid__2 span {
    line-height: 50px;
}

/*------------- HOT NEWS CONTAINER 3 ----------------*/

.hot__news__img__container__3 {
    background-image: url("../img/hot-news/western-pyramid-resort.png");
    height: 260px;
    background-size: cover;


}

.hot__news__grid__3 {
    grid-area: c;
    display: flex;
    flex-direction: column;
    margin-right: 5px;

}

.hot__news__grid__3 span {
    line-height: 60px;
}

.hot__news__grid__3 p {
    padding-bottom: 10px;
}


/*------------- HOT NEWS CONTAINER 4 ----------------*/

.hot__news__img__container__4 {
    background-image: url("../img/hot-news/grand-meadows-resort.png");
    height: 260px;
    background-size: cover;

}

.hot__news__grid__4 {
    grid-area: d;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}

.hot__news__grid__4 span {
    line-height: 60px;
}

.hot__news__grid__4 p {
    padding-bottom: 10px;
}


/*------------- HOT NEWS CONTAINER 5 ----------------*/

.hot__news__img__container__5 {
    background-image: url("../img/hot-news/wanderlust-resort.png");
    height: 260px;
    background-size: cover;

}

.hot__news__grid__5 {
    grid-area: e;
    display: flex;
    flex-direction: column;
    margin-right: 5px;

}

.hot__news__grid__5 span {
    line-height: 60px;
}

.hot__news__grid__5 p {
    padding-bottom: 10px;
}


/*------------- HOT NEWS CONTAINER 6 ----------------*/

.hot__news__img__container__6 {
    background-image: url("../img/hot-news/twin-sanctuary-hotel.png");
    height: 260px;
    background-size: cover;


}

.hot__news__grid__6 {
    grid-area: f;
    display: flex;
    flex-direction: column;
    margin-left: 5px;


}

.hot__news__grid__6 span {
    line-height: 50px;
}

.hot__news__grid__6 p {
    padding-bottom: 10px;
}


/*------------- HOT NEWS CONTAINER 7 ----------------*/

.hot__news__img__container__7 {
    background-image: url("../img/hot-news/prism-hotel.png");
    height: 210px;
    background-size: cover;

}

.hot__news__grid__7 {
    grid-area: g;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hot__news__grid__7 span {
    line-height: 50px;
}

/*------------- HOT NEWS CONTAINER 8 ----------------*/


.hot__news__img__container__8 {
    background-image: url("../img/hot-news/kings-shroud-resort.png");
    height: 100%;
    width: 60%;
    background-size: cover;
}

.hot__news__content__wrapper__8 {
    width: 40%;
    padding: 0 23px;
    text-align: right;
}

.hot__news__grid__8 {
    grid-area: h;

}

.hot__news__grid__8 span {
    line-height: 60px;
}

/*------------- FOOTER ----------------*/
footer {
    background-color: #1d2124;
    margin-top: 50px;
}

.footer__container {
    width: 63%;
    color: #fff;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
    margin: 0 auto;
    align-items: center;
}

.footer__grid__2 {
    text-align: right;
}



