* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: local('Verdana'),
    url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main__container {
    font-family: Verdana, sans-serif;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    margin: 0 auto;

}

/*HEADER STYLES*/

header {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    height: 45px;
    padding-top: 50px;
}


.logo__header__container__main {
    float: left;
    padding-left: 15px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-left: 140px;
}

.logo__header__container__second {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 45px;
    background-image: url("../img/milan_logo.png");
    background-repeat: no-repeat;
}

.milanholidays__logo__container {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-left: 60px;
}


.logo__header__container__main a:hover .logo__header__container__second span {
    color: #dd5c1f;
}

.logo__header__container__main:hover .logo__header__container__second {
    background-image: url("../img/milan_logo_hover.png");
}


.milan__logo {
    font-size: 29px;
    transform: scaleY(0.9); /*Наш шрифт слегка отличается по высоте символа, поэтому мы трансформируем его по оси Y*/
    line-height: 90%;

}

.holidays__logo {
    font-size: 18px;
    transform: scaleY(0.9);
}

.contacts__header__container {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 145px;
}

.contacts__header__container a {
    color: #fff;
    font-size: 18px;
}

/*MAIN CONTANT*/

.content__container {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    margin-left: 155px;
    margin-top: 40px;
}

.img__text__container {
    box-sizing: content-box;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 65px;

}


.img__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 307px;
    height: 200px;
}

.gradient__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 205px;
    background: linear-gradient(to right, orangered, white);
    overflow: hidden;

}

#img__container__1 {
    background-image: url("../img/shopping_tours.png");

}

#img__container__2 {
    background-image: url("../img/sightseeing_tours.png");

}

#img__container__3 {
    background-image: url("../img/food_tours.png");
    margin-right: 0;

}

#img__container__4 {
    background-image: url("../img/bars_nightlife.png");

}

#img__container__5 {
    background-image: url("../img/art_architecture.png");

}

#img__container__6 {
    background-image: url("../img/walking_tours.png");
    margin-right: 0;

}

.img__container__hover {
    position: absolute;
    width: 307px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: transparent;
    font-size: 14px;
    bottom: -65px;
    transition-duration: 0.8s;
    color: #fff;
    background-color: #dd5c1f;

    /*размер шрифта 'from' задан атрибутом в html*/

}

.img__container__hover ul {
    list-style: none;
    margin-left: 30px;
    margin-bottom: 15px;

}

.img__container__hover span {
    padding-bottom: 8px;
    padding-right: 20px;
}

.fas span {
    padding: 0;
}


.img__container:hover .img__container__hover {
    bottom: 0;
}


.img__link {
    color: #fff;
    font-size: 18px;
}

.img__link:hover {
    color: #dd5c1f;
}


.img__link {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*FOOTER*/
footer {
    clear: both;
    text-align: center;
}

footer span {
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
}