.container {
    margin: 0 auto;
    border: 1px solid orange;
    width: 900px;
}

header, main, footer, aside, section {
    border: 1px solid purple;
    padding: 5px;
    margin: 5px;
}

aside {
    width: 15%;
    float: left;

}
section {
    width: 65%;
    /*float: right;*/

}