body {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.tabs-li {
    margin: 15px auto;
    width: 60vw;
}

.centered-content {
    /*height: 50vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}

.tabs-li {
    display: none;
    transition: display 1s;
}

img {
    width: 10vw;
    margin: 0 auto;
    display: block;
}


