.wrapper {
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

header {
    background-color: blue;
    border: 10px darkblue solid;
    width: 790px;
    margin: 20px auto;
    padding: 10px;
}

main {
    background-color: yellow;
    border: 30px darkgoldenrod solid;
    width: 750px;
    margin: 20px auto;
    padding: 10px;
    color: black;

}

footer {
    background-color: blue;
    border: 10px darkblue solid;
    width: 790px;
    margin: 20px auto;
    padding: 10px;

}



/*html, body {*/
/*    height: 100%;*/
/*    font-family: Verdana, sans-serif;*/
/*}*/

/*.container .content {*/
/*    height: 70%;*/
/*}*/

/*.container .main-header {*/
/*    height: 15%;*/
/*    text-align: center;*/
/*}*/

/*a.header-link {*/
/*    padding-top: 10px;*/
/*    margin-top: 20px;*/
/*}*/

/*.container .main-footer {*/
/*    height: 15%;*/
/*}*/

/*.container {*/
/*    background-color: #b4b7ba;*/
/*    margin: 0 auto;*/
/*    width: 1240px;*/
/*    height: 100%;*/


/*}*/


/*.container ul {*/
/*    margin-top: 0;*/
/*}*/


/*span {*/
/*    border: 1px darkblue solid;*/
/*    margin: 0 auto;*/
/*}*/

/*p {*/

/*    border: 1px darkred solid;*/
/*    width: 300px;*/
/*    margin: 0 auto;*/

/*}*/