


body {
    font-family: 'Nunito', sans-serif;
}
.requisites {
    display: inline-block;
}

ul {
    margin-left: 40px;
}
li.no_decoration {
    list-style: none;
    margin-bottom: 15px;
    font-weight: 700;
    font-style: italic;
    color: darkred;
}

header {
    display: flex;
    justify-content: space-around;
}

#first_name_form {
    border-bottom: 1px solid black;
    width: 100px;
}
.main__container {
    /*font-family: 'Calistoga', cursive;*/
}

footer {
    margin: 0 0 0 80px;
}
p {
    margin: 5px auto 5px auto;
}

.bold {
    font-weight: 800;
    font-size: 18px;
    margin: 16px auto 16px auto;

}
h1 {
    margin-bottom: 2px;
}

h3 {
    margin-top: 1px;
    font-style: italic;
    color: grey;
}