.main__container {
    width: 540px;
    height: 350px;
    background: lightgreen;
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.goal {
    width: 50px;
    height: 100px;
    background: #222f3a;
}

.football {
    width: 7vh;
    height: 7vh;
    background-image: url("../img/football.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;



}

.goal__counter {
    font-size: 50px;
    color: red;
    position: absolute;
}

.goal__counter__left {
    left: 10%;
    top: 12%
}


.goal__counter__right {
    left: 90%;
    top: 12%
}