.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightgreen;
    color: #fff;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background-color: #222f3a;
}
.header__nav a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
}


.main__content__container__1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #b4b7ba;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

.main__img__container__1 {
    background-color: #222f3a;
    height: 200px;
    width: 100%;
}

.main__content__container__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 3;
}

.main__img__container__2 {
    background-color: #222f3a;
    height: 200px;
    width: 100%;
}
