@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProRegular.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Myriad Pro", serif;
}

.main__container {
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
}


/*RAMDA.JS LOGO*/

.ramdajs__logo__container {
    font-size: 80px;
    margin: 65px 0 65px 100px;

}

.ramdajs__logo__container a {
    text-decoration: none;
    color: #000;

}

.ramdajs__logo {
    color: #4bcaff;
}

/*HEADER NAVIGATION*/

.header__nav {
    display: inline-block;
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    font-size: 24px;
    margin: 0 0 53px 100px;
    text-align: center;
    line-height: 69px;
}

.header__nav a {
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    padding: 22px 40px 18px 40px;
}

.header__nav a:hover {
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 22px 39px 18px 39px;
}

/*MAIN CONTENT CONTAINER*/
.content__container {
    /*margin-left: 50px;*/
    /*display: inline-block;*/
    text-align: center;
}


/*LEFT NAVIGATION*/

aside {
    display: inline-block;
    width: 343px;
    height: 410px;
    margin: 0;
    padding: 0;
}

.left__nav {
    display: inline-block;
    border: 1px solid black;
    width: 343px;
    height: 408px;
}

.left__nav ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;

}

.left__nav li {
    text-align: left;
    padding: 23px 43px;
}

.left__nav a {
    text-decoration: none;
    font-size: 30px;
    color: #485863;
}

.left__nav li:hover {
    padding: 23px 0px 23px 68px;
    background-color: #dbdbdb;
}

.left__nav li:hover a {
    color: #000;
}


/*IMAGE CONTAINER */

.img__container {
    display: inline-block;
    vertical-align: top;
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-left: 42px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: 529px; /*Задается чтоб можно было отцентрировать картинку по вертикали! */
}

.img__container img {
    display: inline-block;
    vertical-align: middle;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img__container img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*TEXT CONTAINER*/

.text__container {
    font-size: 18px;
    width: 820px;
    margin: 50px 35px 50px 525px;

}

/*FOOTER NAVIGATION*/

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
    margin-left: 100px;
}

.footer__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__nav li {
    display: inline-block;
    margin: 0 12px;
}

.footer__nav a {
    text-decoration: none;
    font-size: 28px;
    color: #000;
    /*margin: 0 12px;*/

}

/*Задаем нижнее подчеркивание с помощью рамки li, margin-top установлен для нивелирования подскока элементов меню вверх */
.footer__nav li:hover {
    border-bottom: 2px #3181a6 solid;
    margin-top: 2px;
}

.footer__nav li:hover a {
    color: #3181a6;
}

.footer__nav span {
    font-size: 24px;
    color: #000;
    padding: 0 35px 0 140px;
}

#footer__first__link {
    margin-left: 44px;;
}




