* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e3e3;
}

h2 {
    margin: 15px 30px;
}

p {
    margin: 0 30px;
    color: #222f3a;
    line-height: 130%;
}

.main__wrapper {
    display: flex;
    margin: 30px;
}

.image-to-show {
    width: 400px;
    height: 400px;
    animation: fadeinout 5s linear forwards;

}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

button {
    position: relative;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.images-wrapper {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 30px;

}

.button {
    margin: 20px 0 10px 0;
    height: 60px;
    width: 200px;
    outline: none;
    background: rgba(100, 100, 100, .6);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
}

.button:hover {
    box-shadow: 0 0 10px black;
    background: rgba(0, 0, 0, .6);

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.countdownTimer {
    width: 200px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: #fff;


}


.fadeIn {
    animation: fadeIn .5s linear;
}

.fadeOut {
    animation: fadeOut .5s linear;
}


.theory {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
