@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: local('Verdana'),
    url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Verdana, sans-serif;
}

/*.sprite {*/
/*    background-image: url(../img/spritesheet.png);*/
/*    background-repeat: no-repeat;*/
/*    display: block;*/
/*}*/

/*.form__button {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border-radius: 3px;*/
/*    width: 157px;*/
/*    height: 46px;*/
/*}*/

/*.facebook {*/
/*    background-color: rgb(48, 93, 184);*/
/*}*/

/*.google__plus {*/
/*    background-color: rgb(223, 74, 50);*/
/*}*/


/*.sprite-facebook1 {*/
/*    width: 10px;*/
/*    height: 20px;*/
/*    background-position: -40px -5px;*/
/*    margin: auto;*/
/*}*/

/*.facebook__link {*/
/*    font-size: 16px;*/
/*    font-family: "Verdana", sans-serif;*/
/*    color: #fff;*/
/*    line-height: 01.313;*/
/*    border-left: 1px #2b54a5 solid;*/
/*    padding: 0 20px;*/
/*}*/

/*.sprite-G_ {*/
/*    width: 25px;*/
/*    height: 16px;*/
/*    background-position: -5px -5px;*/
/*    !*margin-left: 15px;*!*/
/*    margin: auto;*/
/*}*/

/*.google__plus__link {*/
/*    font-size: 16px;*/
/*    font-family: "Verdana", sans-serif;*/
/*    color: #fff;*/
/*    line-height: 01.313;*/
/*    border-left: 1px #c8422d solid;*/
/*    padding: 0 29px;*/
/*}*/

.sign__in__form {
    min-width: 445px;
    min-height: 585px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -292px;
    margin-left: -222px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.sign__in__form__content {
    min-width: 325px;
    min-height: 525px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: 1px lightgray solid;
    border-radius: 4px;
    mso-border-shadow: yes;
}

#or {
    margin: 0 10px;

}

.checkbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    margin-right: 10px;


}

.button__create__account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    border-radius: 3px;
    color: #fff;
    margin-top: 25px;



}
