.container {
    border: 1px solid #4bcaff;
    height: 30px;

}

.i-forms {

}

.form-group {
    padding: 10px;
    margin: 10px;
}

button  {

    margin: 10px;
}

.form-group input[type="text"] {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dd5c1f;
}
