.img {
    width: 320px;
    height: 320px;
}

.float__left {
    float: left;
}

.float__right {
    float: right;
}

.img__container {
    width: 310px;
    height: 310px;
    margin-right: 30px;
    border: 3px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    }

.clear {
    clear: both;
}